@{
    ViewBag.Title = "Завершение регистрации";
}


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2 class="text-center">@ViewBag.Title</h2>
            <p class=" text-center text-info">
                Спасибо за регистацию на данном ресурсе!
            </p>
            <p class="text-center">
                @Html.ActionLink("На главную", "Index", "Start", null, new { @class = "btn btn-link" })
            </p>
        </div>

    </div>
</div>