@model List<News24.Web.ViewModels.StartViewModels.CategoryViewModel>
<ul class="navbar-nav mr-auto">
    @foreach (var item in Model)
    {
        <li class="nav-item">
            @Html.ActionLink(item.Name, "Category", "Start", null, null, null, new { category = item.Name }, new { @class = "nav-link link text-uppercase" })
        </li>
    }
</ul>