@model List<News24.Web.ViewModels.StartViewModels.ArticleViewModel>

<div class="col-12 col-lg-4 ">
    <div class="footer_main_title py-3"> Последние статьи</div>
    @foreach (var item in Model)
    {
        <div>
            <a href="@Url.Action("Details","Start")" class="" style="color: #fff">@item.Head</a>
        </div>
    }

</div>
